---
layout: default
---
  <div class="col-sm-3" >
  	 <a class="twitter-timeline" href="https://twitter.com/ConnorKupchak?ref_src=twsrc%5Etfw">Tweets by ConnorKupchak</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
  </div>

  <div id="homeid" class="col-sm-6">
        <h2>Welcome to Carleton University's Quantum Information Technologies (CUQuIT) lab</h2>

	{{ content }}
  </div>
  <div id="newsid" class="col-sm-3" >
	{% include news.html %}
  </div>

<!---    </div>
  </div>


  <div class="col-sm-4">
    <div class="card">

  
<a class="twitter-timeline" href="https://twitter.com/ConnorKupchak?ref_src=twsrc%5Etfw">Tweets by ConnorKupchak</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>
  </div>
</div>
--->

